[init]
  defaultBranch = main

[core]
  editor = nvim
  excludesfile = ~/.gitignore

[gpg]
  format = ssh

[commit]
  gpgsign = true

[includeif "gitdir:~/git/other_repos/"]
path = ~/git/other_repos/.gitconfig

[includeIf "gitdir:~/git/s4rv4gy4/"]
path = ~/git/s4rv4gy4/.gitconfig
 
[includeIf "gitdir:~/git/sarvalabs/"]
path = ~/git/sarvalabs/.gitconfig
