[user]
  username = "sarvagya.sagar"
  name = "Sarvagya Sagar"
  signingkey = "~/.ssh/work/sign.pub"
  email = "<work_email>"

[core]
  sshCommand = "ssh -i ~/.ssh/work/ssh -F /dev/null"

[gpg "ssh"]
  allowedSignersFile = "~/.ssh/work/allowed_signers"
