[gpg]
  format = ssh

[core]
  editor = nvim

[commit]
  gpgsign = true

[init]
  defaultBranch = main

[user]
  name = "Sarvagya Sagar"
  signingkey = "~/.ssh/remote/sign.pub"	
  email = "186076145+s4rv4gy4@users.noreply.github.com"

[gpg "ssh"]
  allowedSignersFile = "~/.ssh/remote/allowed_signers"
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
